<div class="button-row">
  <a mat-raised-button color="primary" (click)="productDetails()">
    <mat-icon>show</mat-icon>
  </a>
</div>
<form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="SKU" formControlName="sku" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('sku').valid && productForm.get('sku').touched">Please enter sku</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('title').valid && productForm.get('title').touched">Please enter product
        title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Model" formControlName="model" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('model').valid && productForm.get('model').touched">Please enter product
        model</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!productForm.get('description').valid && productForm.get('description').touched">Please enter
        product description</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Color" formControlName="color" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('color').valid && productForm.get('color').touched">Please enter color</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Price" formControlName="price" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('price').valid && productForm.get('price').touched">Please enter price</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Coupon" formControlName="coupon" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('coupon').valid && productForm.get('coupon').touched">Please enter color</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Small" formControlName="small" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('small').valid && productForm.get('small').touched">Please enter
        size small</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Medium" formControlName="medium" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('medium').valid && productForm.get('medium').touched">Please enter
        size medium</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Large" formControlName="large" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('large').valid && productForm.get('large').touched">Please enter
        size large</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="X-Large" formControlName="xlarge" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!productForm.get('xlarge').valid && productForm.get('xlarge').touched">Please enter
        size x-large</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngFor="let item of imageList; let i = index;" class="example-full-width">
    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="item.image"
      (ngModelChange)="changeInModelValue(item.image, i)" placeholder="Image">
    <mat-icon matSuffix (click)="deleteImage(i)">delete</mat-icon>
  </mat-form-field>
  <div class="row">
    <div class="column" *ngFor="let item of imageList; let i = index;">
      <img *ngIf="item.image !== ''" src="{{'http://drive.google.com/uc?id=' + item.image}}">
    </div>
  </div>
  <div class="button-row">
    <button (click)="addNewImage()" type="button" mat-raised-button color="primary">
      <mat-icon>add_a_photo</mat-icon>
    </button>
  </div>
  <div class="button-row">
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>