<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{product.title}}</h2></mat-card-title>
    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>SKU: </dt>
      <dd>{{product.sku}}</dd>
      <dt>Model: </dt>
      <dd>{{product.model}}</dd>
      <dt>Price: </dt>
      <dd>{{product.price}}</dd>
      <dt>Coupon: </dt>
      <dd>{{product.coupon}}</dd>
      <dt>Update Date: </dt>
      <dd>{{product.updated_date | date}}</dd>
      <dt>Small: </dt>
      <dd>{{product.small}}</dd>
      <dt>Medium: </dt>
      <dd>{{product.medium}}</dd>
      <dt>Large: </dt>
      <dd>{{product.large}}</dd>
      <dt>X-Large: </dt>
      <dd>{{product.xlarge}}</dd>
      <dt>Images:</dt>
      <dd *ngFor="let item of product.images">{{item.image}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/product-edit', product._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteProduct(product._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
