<div class="button-row">
  <a mat-raised-button color="primary" class="marginRight" [routerLink]="['/products']">
    <mat-icon>list</mat-icon>
  </a>
  <a mat-raised-button color="primary" class="marginRight" [routerLink]="['/product-edit', product._id]">
    <mat-icon>edit</mat-icon>
  </a>
  <a mat-raised-button color="warn" class="marginRight" (click)="deleteProduct(product._id)">
    <mat-icon>delete</mat-icon>
  </a>
</div>
<mat-card class="cardWrapper">
  <mat-card-content class="example-card">
    <mat-card>
      <p>SKU Code</p>
      <mat-card>{{product.sku}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Title</p>
      <mat-card>{{product.title}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Description</p>
      <mat-card>{{product.description}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Model Name</p>
      <mat-card>{{product.model}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Price</p>
      <mat-card>{{product.price}}</mat-card>
    </mat-card>
  </mat-card-content>
  <mat-card-content class="example-card">
    <mat-card>
      <p>Size S</p>
      <mat-card>{{product.small}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Size M</p>
      <mat-card>{{product.medium}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Size L</p>
      <mat-card>{{product.large}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Size XL</p>
      <mat-card>{{product.xlarge}}</mat-card>
    </mat-card>
    <mat-card>
      <p>Coupon Code</p>
      <mat-card>{{product.coupon}}</mat-card>
    </mat-card>
  </mat-card-content>
</mat-card>
<mat-card>
  <p>Images</p>
  <mat-card>
    <div class="row">
      <div class="column imageWrapper" *ngFor="let item of product.images; let i = index;">
        <img *ngIf="item.image !== ''" src="{{'http://drive.google.com/uc?id=' + item.image}}">
        <span *ngIf="item.image !== ''" class="imageText">{{i + 1}}</span>
      </div>
    </div>
  </mat-card>
</mat-card>
<mat-card>
  <p>Update Date</p>
  <mat-card>{{product.updated_date | date}}</mat-card>
</mat-card>