/* You can add global styles to this file, and also import other style files */

body { margin: 0 5%; }

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  img {
    height: 130px;
  }
